@page "/products"
@using System.Text.Json
@using System.Text.Json.Serialization


@inject IProductService productService
@inject IJSRuntime JSRuntime

<PageTitle>Products List</PageTitle>

<h1>Products List</h1>

<p>This component demonstrates fetching data from a API.</p>

<CollapseComponent Title="Добавлить категорию" ElementId="CategoryEditForm" DivClass="card" HeaderClass="card-header">
    <EditForm Model="@_category" OnValidSubmit="AddCategory" class="card-body">
        <DataAnnotationsValidator />
        <table>
            <tr>
                <td><label><b>Название категории</b></label></td>
                <td><InputText @bind-Value="_category.Name" placeholder="Название" class="rounded"></InputText></td>
                <ValidationMessage For="@(()=>_category.Name)"></ValidationMessage>
            </tr>
            <tr>
                <td><label><b>Описание категории</b></label></td>
                <td><InputText @bind-Value="_category.Description" placeholder="Описание" class="rounded"></InputText></td>
                <ValidationMessage For="@(()=>_category.Description)"></ValidationMessage>
            </tr>
        </table>
        <br />
        <input class="rounded" type="submit" value="Добавить" />
    </EditForm>
</CollapseComponent>

<br />

<CollapseComponent Title="Добавить продукт" ElementId="ProductEditForm" DivClass="card" HeaderClass="card-header">
    <EditForm Model="@_product" OnValidSubmit="AddProduct" class="card-body">
        <DataAnnotationsValidator />
        <table>
            <tr>
                <td><label><b>Название продукта</b></label></td>
                <td><InputText @bind-Value="_product.Name" placeholder="Название" class="rounded"></InputText></td>
                <ValidationMessage For="@(()=>_product.Name)"></ValidationMessage>
            </tr>
            <tr>
                <td><label><b>Категория продукта</b></label></td>
                <select class="form-select" multiple @bind="@_selectedCategories">
                    @if (_categoriesList == null)
                    {
                        <option>Другое</option>
                    }else{

                        foreach(Category category in _categoriesList)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(()=>_category.Description)"></ValidationMessage>
            </tr>

        </table>
        <br />
        <input class="rounded" type="submit" value="Добавить" />
    </EditForm>
</CollapseComponent>
    
<br />

@if (_categoriesList == null)
{

    <ul class="list-group list-unstyled placeholder-glow">
        @for(int i = 0; i < 5; i++)
        {
        <li class="list-group-item">
            <button class="rounded col-12" style="text-align:left">
                <span class="placeholder col-1"></span>
            </button>
        </li>
        }
    </ul>
}
else
{
    <ul class="list-group list-unstyled">
        @foreach(Category category in _categoriesList)
        {
            <li class="list-group-item list-group-ite mb-1">
                <CollapseComponent Title="@category.Name" ElementId="@(category.Name+"-collapse")">
                    <ul class="list-group">
                        @if (category.Products == null || category.Products.Count==0)
                        {
                            <li class="list-group-item">Продуктов не найдено</li>
                        }
                        else
                        {
                            @foreach(Product product in category.Products)
                            {
                                <li class="list-group-item">@product.Name</li>                            
                            }
                        }
                    </ul>
                </CollapseComponent>
            </li>
        }
    </ul>
}

@code {

    private List<Category> _categoriesList = null!;

    private Category _category = new Category();
    private Product _product = new Product();

    private int[] _selectedCategories = new int[] { };

    protected override async Task OnInitializedAsync()
    {
        _categoriesList = await productService.GetCategories();
        foreach (Category category in _categoriesList)
        {
            category.Products = await productService.GetProductsInCategoryByCategoryId(category.Id);
        }
    }

    protected async Task LoadCategoryList()
    {
        _categoriesList = await productService.GetCategories(); 
        foreach (Category category in _categoriesList)
        {
            category.Products = await productService.GetProductsInCategoryByCategoryId(category.Id);
        }
        StateHasChanged();
    }


    protected async void AddCategory()
    {
        await productService.AddCategory(_category);
        await LoadCategoryList();
        _category = new Category();

    }

    protected async void AddProduct()
    {
        _product.Categories = _selectedCategories.Select(id => _categoriesList.Find(cat => cat.Id == id)).ToList()!;
        _selectedCategories = new int[] { };
        await productService.AddProduct(_product);
        _product = new Product();
        await LoadCategoryList();
    }
}